@import '../../constants/constants.scss';
.defaultContainer{
    background-color: $primary-color;
    color: $secundary-color;
    height: 500px;
    text-align: center;
    padding-top:25%;
    width: 100%;
}