@import '../../utils/mixins.scss';
.listParticipants{
    .listContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .title{
        padding-top: 40px;
        @include font-size(40);
        @include tablet {
            padding-top: 15px;
            @include font-size(20);
        }
    }
}