@import '../../constants/constants.scss';
@import '../../utils/mixins.scss';
.card{
    margin-left: 10%;
    margin-top:170px;
    @include tablet {
        bottom: 52px;
        margin-left:0px;
        margin-top:0px;
        position: absolute;
        width: 100%
    }
    .bg{
        background-image: url("../../assets/images/pope.png");
        background-repeat: no-repeat;
        background-position: 18% 48%;
        filter: blur(5px);
        height: 300px;
        padding: 35px;          
        position: absolute;  
        width: 430px;
        @include tablet {
            display: none;
        }
    }
    .cardInfo{
        background-color: $six-color;
        color: $primary-color;
        height: 300px;
        padding: 35px;       
        opacity: 0.8;         
        width: 430px;
        @include tablet {
            background-color: $secundary-color;
            padding: 1%;
            height: 120px;      
            opacity: 0.5;          
            width: 48%;
        }
        @include mobileMax{
            height: 170px;    
        }
        .desc{
            @include font-size(21);
            margin-top:35px;
            padding-right: 20px;
            @include tablet {
                @include font-size(12);
                margin-top:5px;
            }
        }
        .title{
            @include font-size(16);
            @include tablet {
                @include font-size(14);
            }
        }        
        .subtitle{
            @include font-size(40);
            @include tablet {
                @include font-size(20);
            }
        }
        .veredict{
            @include font-size(20);
            font-weight: bold;
            margin-top:35px;
            @include tablet {
                @include font-size(12);
                margin-top:5px;
            }
        }
        .wiki{
            height: 16px;
            @include font-size(12);
            margin-top: 20px;
            text-decoration: underline;
            padding-left: 5px;
            img{
                margin-right: 5px;
            }
            @include tablet {
                @include font-size(8);
                margin-top:5px;
                position: absolute;
                top:0px;      
                right: 52%;         
            }
            @include mobileMax{
                top:155px;
            }
        } 
    }
    .thumbContainer{
        display: flex;
        height: 80px;
        width: 100%;
        @include tablet {
            height: 30px;
        }
        .thumbUp, .thumbDown{
            align-items: center;
            justify-content: center;
            display: flex;
            height: 100%;
            opacity: 0.8;
            width: 50%;
            img{
                height: 38px;
                width: 38px;
                @include tablet {
                    height: 20px;
                    width: 20px;
                }
            }
        }
        .thumbUp{
            background-color: $tertiary-color;
        }
        .thumbDown{
            background-color: $quaternary-color;
        }
    }
}