@import '../../constants/constants.scss';
@import '../../utils/mixins.scss';
.anyoneElse{
    margin-top: 35px;
    padding-bottom: 35px;
    position: relative;
    @include tablet {
        margin-top: 15px;
        padding-bottom: 15px;
    }
    .bg{
        background-image: url("../../assets/images/people.png");
        height: 120px;
        position: absolute;
        width: 100%;
        @include tablet {
            height: 70px;
        }
        &:before {
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;
            background-color: rgba(255, 255, 255, 0.7);
            content: ' ';
          }
    }
    .message{
        align-items: center;
        background: none;
        color: $secundary-color;
        display: flex;        
        @include font-size(30);
        height: 80px;        
        padding: 20px;    ; 
        @include tablet {
            height: 30px;       
        }
        .button{
            width: 30%;
            div{
                filter: invert(100%);
                float: right;
                @include font-size(20);
                @include tablet {
                    @include font-size(12);
                    padding: 5px 10px 5px 10px;
                }
            }
        }
        .title{
            width: 70%;
            z-index: 1;
            @include tablet {
                @include font-size(16)
            }
        }
    }    
}