@import '../../../constants/constants.scss';
@import '../../../utils/mixins.scss';
.middleContainer{
    background-color: $primary-color;
    padding-left: 10%;
    padding-right: 10%;
    padding-top:35px;
    width: 80%;
    @include desktopMin{
        padding-left: 5%;
        padding-right: 5%;
        width: 90%;
    }
    @include tablet {
        padding-left: 1%;
        padding-right: 1%;
        padding-top:15px;
        width: 98%;
    }
}