@import '../../../constants/constants.scss';
@import '../../../utils/mixins.scss';
.cardParticipant{
    height: 550px;
    margin-top: 40px;
    position: relative;
    width:48%;   
    &:hover{
        transition: all 0.5s ease;
        transform: scale(1.02);
        box-shadow: 5px 5px #888888;
    }
    @include tablet {
        margin-top: 15px;
    }
    @include tabletMin {
        display: flex;
        height: 200px;
        width: 98%;
    }
    .avatar{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center; 
        height: 100%;
        width:100%;
        @include tabletMin {
            border-radius: 50%;
            height: 150px;
            width:150px;
        }
    }
    .currentThumb{
        left:0px;
        position: absolute;
        top: 295px;
        @include tabletMin {
            top:0px;
        }
    }
    .info{        
        align-items:flex-end;
        color: $primary-color;
        display: flex;
        height: 500px;
        background: linear-gradient(to top,$secundary-color,rgba($secundary-color, 0));
        padding-left: 7%;
        position: absolute;
        top: 0px;
        width: 93%;
        @include tablet{
            padding-left: 10%;
            width: 90%;
        }
        @include tabletMin {
            background: none;
            color: $secundary-color;
            height: 150px;
            padding: 5px;
            position:static;
            width: 60%;
        }
        >div{
            width: 100%;
        }
        .fullname, .experence, .desc{
            width: 100%;
        }
        .experence, .desc{
            width: 100%;
            margin-bottom: 20px;
        }
        .desc{
            @include font-size(16);
            height: 45px;
            @include tabletMin {
                @include font-size(12);
            }
        }
        .experence{
            @include font-size(10);
            span{
                font-weight: bold;
            }
        }
        .fullname{
            @include font-size(45);
            @include tabletMin {
                @include font-size(14);
            }
        }
        .voteContainer{
            display: flex;
            margin-bottom:35px;
            @include tabletMin {
                margin-bottom:0px;
                >div:last-child{
                    filter: invert(100%);
                }
            }
            >div{
                @include font-size(14);
                margin-right: 10px;
                @include tabletMin {
                    margin-right: 5px;
                }
            }
        }
    }
    .score{
        bottom: 0px;
        position: absolute;
        width: 100%;
    }
}