@import '../../constants/constants.scss';
@import '../../utils/mixins.scss';
.header, .nav{
    display: flex;
}
.header{
    align-items: center;
    background: linear-gradient(to bottom,$secundary-color,rgba($secundary-color, 0));
    color: $primary-color;
    position: absolute;
    height: 100px;
    display: flex;
    top:0px;
    padding-left: 10%;
    padding-right: 10%;
    flex-wrap: wrap;
    width:80%;
    z-index: 1;   
    @include tablet {
        padding-left: 1%;
        padding-right: 1%;
        width:98%;
    } 
    .logo{
        @include font-size(32);

        width: 30%;
        @include tablet {
            @include font-size(24);
        }
        @include tabletMin{
            width: 100%;
        }
    }
    .nav{
        @include font-size(16);
        @include tablet {
            @include font-size(12);
        }
        justify-content: flex-end;
        width: 100%;
        a{
            color: $primary-color;
            margin-right:7%;
            text-decoration: none;
        }
    }
}

nav{
    width: 70%;
    @include tabletMin{
        width: 100%;
    }
}