@import '../../../../../constants/constants.scss';
@import '../../../../../utils/mixins.scss';
.down, .up{
    align-items: center;
    display: flex;
    height: 50px;
    padding-left:2%;
    padding-right:2%;
    opacity: 0.8;
    transition: all .3s ease-in-out;
    @include tabletMin {
        height: 30px;
        margin-top:5px;
    }
    img{
        height: 28px;
        width: 28px;
        @include tabletMin {
            height: 20px;
            width: 20px;
        }
    }
    .percent{
        @include font-size(28);
        padding-left:5%;
        padding-right:3%;
        @include tabletMin {
            @include font-size(18);
            padding-left:5px;
            padding-right:5px;
        }
        span{
            @include font-size(16);
            @include tabletMin {
                @include font-size(12)
            }
        }
    }
}
.down{
    background-color: $quaternary-color;
    flex-direction: row-reverse;
}
.up{
    background-color: $tertiary-color;
}
