@import '../../constants/constants.scss';
@import '../../utils/mixins.scss';
.footer{
    background-color: $primary-color;   
    padding: 0 10% 35px 10%;
    width: 80%;
    @include tablet {
        padding: 0 1% 15px 1%;
        width:98%;
    } 
    .footerContainer{
        border-top: 2.5px dotted $six-color;
        color: $six-color;
        display: flex;
        padding-top: 35px;
        width: 100%;    
        @include tablet {
            padding-top: 15px;
        }     
        .left,.right{
            display: flex;
            width: 50%;   
            div{
                cursor: pointer;
            }    
            @include tablet {
                @include font-size(10)
            }  
        }
        .left{
            @include tablet {
                width: 65%;
            }  
            div{
                margin-right: 4%;
                @include tablet {
                    margin-right: 5px;
                }   
            }
        }
        .right{
            justify-content: flex-end;
            @include tablet {
                width: 35%;
            }  
            div{
                margin-left: 4%;
                @include tablet {
                    margin-left: 5px;
                }   
            }
        }
    }    
}