@import '../../../constants/constants.scss';
@import '../../../utils/mixins.scss';
.topContainer{
    background-image: url("../../../assets/images/pope.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
    height: 740px;
    display: flex;
    position: relative;
    width: 100%;
    @include tablet {
        height: 500px;
    }
    @include tabletMin{
        height: 350px;
    }
    .bottom, .close, .closeValue{
        align-items: center;
        display: flex;
        height: 100%;
    }
    .bottom{
        bottom: 0px;       
        height: 52px;
        opacity: 0.5;
        position: absolute;
        width: 100%;        
        .close{                        
            background-color: $secundary-color;     
            color: $primary-color;
            @include font-size(13);
            justify-content: flex-end;
            padding-right: 1%;
            position: relative;
            width: 32%;
            @include tablet {
                padding-right: 2%;
            }
            &:after{
                border-top: 10px solid transparent;
                border-left: 10px solid $secundary-color;
                border-bottom:10px solid transparent;
                border-right:10px solid transparent;
                content: ' ';                
                height: 0px;
                position: absolute;
                left: 102%;
                margin-left: -10px;
                width: 0px;
                @include tablet {
                    left: 103%;
                }
            }        
        }
        .closeValue{
            background-color: $primary-color; 
            padding-left: 1.5%;
            @include font-size(36);
            width: 68%;
            span{
                font-weight: bold;
            }
        } 
    }    
}
