@import '../../constants/constants.scss';
@import '../../utils/mixins.scss';
.down, .up{
    align-items: center;
    cursor: pointer;
    justify-content: center;
    display: flex;
    height: 32px;
    width:32px;
    img{
        height: 20px;
        width:20px;
    }
}
.border{
    border: 1px solid $primary-color;
    @include tabletMin{
        border-color: $secundary-color;
    }

}
.up{
    background-color: $tertiary-color;
}
.down{
    background-color: $quaternary-color;
}