@import '../../constants/constants.scss';
@import '../../utils/mixins.scss';
.message{
    background-color: $fifth-color;
    display: flex;
    padding:2%;
    .close{
        color: gray;
        cursor: pointer;
        @include font-size(32);
        justify-content: flex-end;
        width: 5%;       
    }
    .left{
        width: 20%;       
        .title{
            @include font-size(21);
            @include tablet {
                @include font-size(12);
            }            
            @include mobileMax {
                @include font-size(10);
            }
        }
        .subtitle{
            @include font-size(34);
            font-weight: bold;
            @include tablet {
                @include font-size(16);
            }
            @include mobileMax {
                @include font-size(12);
            }
        }
    }
    .right{
        width: 75%;
        @include tablet {
            @include font-size(12);
        }
        @include mobileMax {
            @include font-size(10);
        }
    }
    .close, .right{
        display: flex;
        align-items: center;
    }
}